<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Anjali Dadlani">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Anjali Dadlani professional website">
    <title>Anjali Dadlani</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <h1 id="webname">Anjali Dadlani</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">About Me</a>
            <a href="contact.html">Get in Touch</a>
            <a href="fun.html">Fun Activities</a>
        </nav>
    </header>
    
    <div class = "main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <footer>&copy; 2025 designed and coded by Anjali Dadlani</footer>
</body>
</html>