* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    color: #0077cc;
    margin-right: 15px;
}

th {
    padding: 12px 0;
    background-color: #4caf50;
    color: white;
    width: fit-content;
}

tbody tr:nth-child(even) {
    background-color: #92ad70;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

ul {
    display: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#validationMessage {
    color: red;
    font-size: 14px;
}

.container{
    border-radius: 10%;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 50px;

}

.funIMG {
    border-radius: 100%
}

iframe {
    width: 100%;
    height: auto;
}

.mainLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.mainLayout > div {
    margin: 10px;
}
